{{#each erros}}
<div class="erro">{{texto}}</div>
{{else}}

{{/each}}


<h3 class="tit_h3">Nova Venda</h3>
<a href="/admin/vendas/" class="form-submit">VOLTAR</a>
<div class="shopping-cart">
    {{#each produto}}
    <div class="campo_obj">
        <div>
            <h3>Nome: <i>{{nome}}</i></h3>
            <h3>Preço: R$<i>{{valor}}</i></h3>
            <h3>Descrição: <i>{{descricao}}</i></h3>
        </div>
        <div class="venda-btns">
            <a href="/admin/vendas/add/add-to-cart/{{this._id}}" class="botao">Adicionar!</a>
        </div>
    </div>
    {{else}}
    <h4>Nenhum Produto Registrado</h4>
</div>
{{/each}}
<span class="tit_subt">Quantidade de produtos: {{cart.qtdTotal}}</span>
<span class="tit_subt">Subtotal: {{cart.valorTotal}}</span>
<a href="/admin/vendas/add/reset" class="form-submit">RESETAR VENDA</a>
<a href="/admin/vendas/add/cadastrar" class="form-submit">CADASTRAR VENDA</a>
   