{{#each erros}}
    <div class="erro">{{texto}}</div>
{{else}}

{{/each}}

<h3 class="tit_h3">Editar Fornecedor</h3>
<form action="/admin/fornecedor/edit" method="post" class="form-fornecedor">
    <input type="hidden" name="id" value="{{fornecedor._id}}">
    <label for="nome" class="form-label">Nome: </label>
    <input type="text" name="nome" id="nome" placeholder="Nome" value="{{fornecedor.nome}}">
    <label for="telefone" class="form-label">Telefone: </label>
    <input type="text" name="telefone" id="telefone" placeholder="telefone" value="{{fornecedor.telefone}}">
    <label for="cpf" class="form-label">CPF: </label>
    <input type="text" name="cpf" id="cpf" placeholder="cpf" value="{{fornecedor.cpf}}">
    <label for="endereco" class="form-label">Endereço: </label>
    <input type="text" name="endereco" id="endereco" placeholder="endereco" value="{{fornecedor.endereco}}">
    <label for="bairro" class="form-label">Bairro: </label>
    <input type="text" name="bairro" id="bairro" placeholder="bairro" value="{{fornecedor.bairro}}">
    <label for="cidade" class="form-label">Cidade: </label>
    <input type="text" name="cidade" id="cidade" placeholder="cidade" value="{{fornecedor.cidade}}">
    <label for="estado" class="form-label">Estado: </label>
    <input type="text" name="estado" id="estado" placeholder="estado" value="{{fornecedor.estado}}">
    <label for="cep" class="form-label">CEP: </label>
    <input type="text" name="cep" id="cep" placeholder="cep" value="{{fornecedor.cep}}">
    <button type="submit" class="botao">Editar Fornecedor</button>
</form>