<div class="logo logo_dash">
    <a href="/admin"><img src="/imgs/cang-vetor.svg" alt="Logo Rei do Cangaço"></a>
    <div class="nome_novo">
        <span>Produtos</span>
        <a href="/admin/produto/add"><button class="botao botao_nome_novo">Novo Produto</button></a>
    </div>
</div>

<div class="dashboard">
    {{#each produto}}
    <div class="campo_obj">
        <div>
            <h3>Nome: <i>{{nome}}</i></h3>
            <h3>Preço: R$<i>{{valor}}</i></h3>
            <h3>Descrição: <i>{{descricao}}</i></h3>
            <h3>Fornecedor: <i>{{fornecedor}}</i></h3>
        </div>
        <div>
            <a href="/admin/produto/edit/{{_id}}"><button class="botao btn_tam">Editar</button></a>
            <form action="/admin/produto/del" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="error btn_tam">Deletar</button>
            </form>
        </div>
        
    </div>
    {{else}}
    <h4>Nenhum Produto Registrado</h4>
    {{/each}}
</div>
