<div class="logo logo_dash">
    <a href="/admin"><img src="/imgs/logo.jpeg" alt="Logo Rei do Cangaço"></a>
    <div class="nome_novo">
        <span>Usuarios</span>
        <a href="/admin/usuarios/add"><button class="botao botao_nome_novo">Novo Usuario</button></a>
    </div>
</div>

<div class="dashboard">
    {{#each usuario}}
    <div class="campo_obj">
        <div>
            <h3>Nome: <i>{{nome}}</i></h3>
            <h3>Email: <i>{{email}}</i></h3>
        </div>
        <div>
            <a href="/admin/usuarios/edit/{{_id}}"><button class="botao btn_tam">Editar</button></a>
            <form action="/admin/usuarios/del" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="error btn_tam">Deletar</button>
            </form>
        </div>

    </div>
    {{else}}
    <h4>Nenhum Usuario Registrado</h4>
    {{/each}}
</div>